.enterprise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.enterprise_copy {
    margin-top: 110px;
    }

.enterprise_copy h3 {
    width: 400px;
    padding-left: 40px;
}

.enterprise_copy p {
    width: 460px;
    padding-left: 40px;
}

.counter_logos {
    background-color: var(--color-principal);
    text-align: center;
    margin: auto;
    padding: 70px 0 100px 0;
}

.enterprise_video {
    text-align: center;
    margin:0;
    padding: 80px 0;
    position: relative;
}

.enterprise_video i {
    font-size: 42px;
    color: #fff;
    position: absolute;
    left: 48.5%;
    top: 48%;
    cursor: pointer;
}