.enterprise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.enterprise_copy {
    margin-top: 110px;
    }

.enterprise_copy h3 {
    width: 400px;
    padding-left: 40px;
}

.enterprise_copy p {
    width: 460px;
    padding-left: 40px;
}

.logo {
    background-color: var(--color-principal);
    padding-left: 200px;
    
}