.hero {
    position: relative;
    height: 550px;
   
}

.hero_container {
    position: relative;
}

.hero_copy {
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 100px 30px;
}

.hero_copy h2{
    margin: 0;
    font-size: 110px;
    line-height: 110px;
    color: var(--color-principal);
    letter-spacing: -5px;
    margin-bottom: 48px;
}

.hero_copy p {
    margin: 0;
    color: #c3c3c3;
    font-size: 15px;
    line-height: 30px;

}